@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$font: 'Merriweather', serif;
*{box-sizing: border-box;}

body{
    background-color:#3AA789;
    font-family: $font;
    font-size: 15px;
}

header{
    h1{
        text-align: center;
        text-transform: uppercase;
        border: black;
        border-width:3px; 
        border-style:solid;
        width: 50rem;
        margin-left: 12rem;
    }
    .mainimg{
        height: 28rem;
        width: 1190px;
        border-radius: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}



.logo{
    height: 2rem;
    border-radius: 6rem;
}

a.button1{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    
    margin-left: 5rem;
}
a.button1:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}
a.button1:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.navbar{
    margin:12px 60px;
    display: inline-block;
    width: 80%;
}

.list1{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin:12px 14px;
}
a:hover{
    text-decoration:underline;
    color:rgb(246, 225, 101);
    font-size: 28px;
    cursor: pointer;
    transition-duration: 0.5s;
   
}

section{
    .sec1{
        h2{
            text-transform: uppercase;
        }
        text-align: center;
        margin: 4rem;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        margin: 4rem;
    }
    .sec3{
        text-align: center;
        margin: 4rem;
        .doctor{
            height: 5rem;
            width: 5rem;
            border-radius: 3rem;
            margin-left: 2rem;
        }
    }
    .sec4{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
    
